<div class="container " style="margin-bottom: 120px;">
  <h2 class="font-weight-bold text-md-center mb-5 rounded text-white" style="width:20%;background-color:#009cd1;text-align:left;">
    D-Constant </h2>
  <form>
    <div class="input-group" >
      <label class="input-group-text ">Search</label>
      <input class="bi-search  input-group-text bg-light" style="width:1200px;text-align: start;" type="text" placeholder="search Fundamentalconstant"   name="search" [(ngModel)]="searchText"   >
<!--      <button class="btn btn-info">-->
<!--        <i class="bi bi-search"></i>-->
<!--      </button>-->
    </div>
  </form>
  <div class="container" *ngIf="!constant">
    <ng-container *ngIf="constants$ | async as result" [ngSwitch]="result.dataState">
      <ng-container *ngSwitchCase="DataStateEnum.LOADING">Loading...</ng-container>
      <ng-container *ngSwitchCase="DataStateEnum.ERROR">
        <div class="alert-danger">{{result.errorMessage}}</div>
      </ng-container>
      <ng-container *ngSwitchCase="DataStateEnum.LOADED">
        <div class=" card col p-3 mt-5 mb-5 ">
          <div class="card-header input-group-text bg-light">Fundamentalconstant List</div>
          <div class="card-body">
            <table class="table table-striped table-bordered mb-xl-5 data-resizable">
              <thead>
              <tr>
                <th>Name (label)</th>
                <th>Value</th>
                <th>D-SI Unit</th>
                <th>D-SI XML</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td *ngIf="!result.data?.length" colspan="5">No constants!</td>
              <tr *ngFor="let constant of result.data | filter:searchText">
                <td>{{constant.label}}</td>
                <td>{{constant.value}}</td>
                <td>{{constant.unit}}</td>
<!--                <td><a href="http://localhost:8082/api/d-constant/{{constant.pid}}" target="_blank" >{{constant.pid}}</a></td>-->
                <td><a href="https://d-si.ptb.de/api/d-constant/{{constant.pid}}" target="_blank" >{{constant.pid}}</a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
<!--  (click)="OnChangeConstantValue($any($event.target).value)"-->
<!--  <div class="container"  *ngIf="constant">-->
<!--    <ng-container *ngIf="constants$ | async as result" [ngSwitch]="result.dataState">-->
<!--      <ng-container *ngSwitchCase="DataStateEnum.LOADING">Loading...</ng-container>-->
<!--      <ng-container *ngSwitchCase="DataStateEnum.ERROR">-->
<!--        <div class="alert-danger">{{result.errorMessage}}</div>-->
<!--      </ng-container>-->
<!--      <ng-container *ngSwitchCase="DataStateEnum.LOADED">-->
<!--        <div class=" card col p-3 mt-5 mb-5 ">-->
<!--          <div class="card-header bg-light">Constant List</div>-->
<!--          <div class="card-body">-->
<!--            <table class="table table-striped table-bordered mb-xl-5 data-resizable">-->
<!--              <thead>-->
<!--              <tr>-->
<!--                <th>label</th>-->
<!--                <th>pid</th>-->
<!--                <th>value</th>-->
<!--                <th>unit</th>-->
<!--              </tr>-->
<!--              </thead>-->
<!--              <tbody>-->
<!--              <tr>-->
<!--                <td>{{constant.label}}</td>-->
<!--                <td>{{constant.pid}}</td>-->
<!--                <td>{{constant.value}}</td>-->
<!--                <td>{{constant.unit}}</td>-->
<!--              </tr>-->
<!--              </tbody>-->
<!--            </table>-->
<!--          </div>-->
<!--        </div>-->
<!--      </ng-container>-->
<!--    </ng-container>-->
<!--  </div>-->
</div>
