<footer class="footer text-white " style="bottom: 0; width: 100%;height: 40px; display: flex;align-items: center; background-color: #009cd1;" >
  <div class="container">
    <p><span style="float: left"><a class="text-white text-decoration-none" href="https://www.ptb.de" target="_blank">© PHYSIKALISCH-TECHNISCHE BUNDESANSTALT </a></span>
      <span  style="float: right">
                <a class="text-white text-decoration-none" href="https://www.ptb.de/cms/service-seiten/impressum.html"target="_blank">IMPRESSUM </a>
                 <a class="text-white text-decoration-none" href="https://www.ptb.de/cms/de/service-seiten/datenschutz.html" target="_blank"> | DATENSCHUTZ</a>
                 <a class="text-white text-decoration-none" href="https://www.ptb.de/cms/de/meta/barrierefreiheit.html" target="_blank"> | BARRIEREFREIHEIT </a>
                 <a class="text-white text-decoration-none" href="https://www.ptb.de/cms/de/service-seiten/sitemap.html" target="_blank"> | SITEMAP</a></span></p>
  </div>
</footer>
